* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(138, 43, 226, 0.8);
}

input, textarea {
    border: none;
    outline: none;
    box-shadow: 2px 0 8px 2px rgb(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: #fff;
}

button {
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 8px 20px;
    cursor: pointer;
}